NETLIFY_SITE_URL=https://wlanklar.netlify.app
LEAD_SYNC_SECRET=REPLACE_WITH_THE_NETLIFY_SYNC_SECRET
BASEROW_URL=http://100.93.116.80:8080
BASEROW_TOKEN=REPLACE_WITH_A_DEDICATED_BASEROW_DATABASE_TOKEN
BASEROW_TABLE_ID=819
SYNC_BATCH_SIZE=25
